
<div class="row " style="padding-top:50px;padding-left:90px">

 <div class="col-md-8 col-md-offset-1" style="background-color:black;opacity:0.8;padding: 16px;webkit-box-shadow: 12px -9px 20px 7px rgba(8,1,8,1);moz-box-shadow: 12px -9px 20px 7px rgba(8,1,8,1);box-shadow: 12px -9px 20px 7px rgb(8,1,8,1);font-weight: 500; font-size:large;word-wrap: break-word;">
<!--     {% for o in results %}
        <li>{{ o }}</li>
    {% endfor %} -->

<div style="color:white">{{des}}</div>


    {% for o in results %}
    	{% for key, value in o.items %}
    		<h3 style="color:#4169E1">{{ key }}s:<br></h3>
            <div style="padding-left:10px">
    		{% for item in value %}
    			<li style="color:white">{{ item}}</li>
    		{% endfor %}
            </div>
    		<br>
		{% endfor %}
    {% endfor %}



 </div></div>
