<!DOCTYPE html>
<html lang="en">
	<head>
	<title>index</title>

{% load staticfiles%}
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css'%}" />
<script type="text/javascript" src="{% static 'js/jquery-1.12.2.min.js'%}" ></script>
<script type="text/javascript" src="{% static 'js/jquery.js'%}" ></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js'%}"></script>
<script type="text/javascript" src="{% static 'js/myscripts.js'%}"></script>

</head>

<!-- 	<body style="background: url('http://finedininglovers.cdn.crosscast-system.com/ImageAlbum/10992/original_Studio-Mixture-Food-Photography-2.jpg') ;"> -->
<!-- <body style="background: url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2015/09/DNA-HD-wallpaper.jpg')"> --> 

<body style="background-image: url('{% static "img/bg2.jpg"%}')"> 

<div class="container">
    <div class="row " style="padding-top:5%;">
    	
<form id="searchform" method="POST" action="{% url 'results' %}">
    {% csrf_token %}
        <div class="col-md-8 col-md-offset-1">
            <input  type="text" id="question" class="form-control" placeholder="Ask your question......"
             name="question">
        </div>
        <div class="col-md-3">
            <input class="btn btn-primary" type="submit"  value="ASK">
        </div>
<form>
    </div>
</div>


<div id="answer"></div>

<div class="row " style="padding-top:30px;">
<hr class="col-md-3 col-md-offset-1" >
<p style="color:white;padding-left:40px;font-weight: 900;font-size:medium" class="col-md-2">Or May We Suggest</p>
<hr class="col-md-4" >
</div>


<div class="row " style="padding-top:30px;text-align:center;">
    <a href="#">
    <div class="col-md-5 " style=" position:absolute;left:100px;opacity:0.7; height:250px;display:inline-block;float:none;background-image: url('{% static "img/disease.jpg"%}')">
<div class="row " style="text-align:center;">
    <div class="col-md-10" style="height:130px;position:relative;z-index:500;padding-top:30px;font-weight:900; font-size:25px; color:#4169E1">
    SEARCH DISEASE
    </div>
</div>
    </div>
</a>


   <a href="#"> <div class="col-md-5 " style="position: absolute;right:100px;opacity:0.7;height:250px;display:inline-block;float:none;background-image: url('{% static "img/symptoms.png"%}')">
<div class="row " style="text-align:center;">
    <div class="col-md-10" style="height:130px;position:relative;z-index:500;padding-top:30px;font-size:25px;font-weight:900; color:#4169E1">
    SEARCH SYMPTOMS
    </div>
</div>
   </div></a>

</div>

	</body>
</html>

