<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Question Classification Demostration</title>
    {% load staticfiles%}
    <link rel="stylesheet" type="text/css" href="{% static '/css/testing.css'%}" />


</head>
<body>
<div id="content" >



<form id="searchform" method="POST" action="{% url 'testing' %}">



    {% csrf_token %}
        <div class="col-md-8 ">
            <input  type="text" id="question" class="form-control" placeholder="Ask your question......"
             name="question" size="50">
                <input class="btn btn-primary" type="submit"  value="ASK">
            <p> <font size="5">Question : {{Question}} </font></p>

            <p> <font size="5"> Preprocessed :

    {% for word in prepreocessed %}
        {% if word in CheckWords %}
                <font size="6"> <strong>{{word}} </strong></font>
        {% else %}
        {{word}}
    {% endif %}
    {% endfor %}

            </font>
</p>
<p>Prediction {{Prediction}}</p>
        </div>



</form>


   </div>

</body>
</html>